textarea.recurrence-widget {
  display: none;
}
div.recurrence-widget {
  background-color: var(--body-bg);
  border: 1px solid var(--border-color);
}

div.recurrence-widget div.panel {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
}

div.recurrence-widget div.panel div.header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

div.recurrence-widget div.panel div.header .title {
  display: block;
  padding: .5em .75em;
  font-weight: bold;
  white-space: nowrap;
  padding-right: 3em;
  color: var(--body-fg);
  flex-grow: 1;
  margin: 0;
}

div.recurrence-widget div.panel div.body {
  padding: .5em 1em;
}

div.recurrence-widget .remove,
div.recurrence-widget .remove:link,
div.recurrence-widget .remove:visited {
  padding: .25em .5em;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: var(--body-quiet-color);
  line-height: 1.4em;
  background-color: transparent;
  border: none;
}

div.recurrence-widget .remove:hover {
  color: #a00;
}

div.recurrence-widget .control {
  padding: .5em 1em .5em .5em;
  display: flex;
  gap: 1em;
}

div.recurrence-widget .control .addlink {
  cursor: pointer;
}

div.recurrence-widget select,
div.recurrence-widget input {
  margin: 0 .5em;
  width: auto;
}

div.recurrence-widget .mode {
  padding: 1em 0 0 0;
}

div.recurrence-widget .interval {
  padding: 1em 0;
}

div.recurrence-widget .dtstart {
  padding: 1em 0;
  border-bottom: 1px solid var(--border-color);
}

div.recurrence-widget .dtstart .dtstart-date {
  margin: 0.5rem 0 0 0.5rem;
}

div.recurrence-widget .limit {
  padding: 1em 0 0 0;
  border-top: 1px solid var(--border-color);
}

div.recurrence-widget .limit ul {
  margin-top: .5em;
  margin-left: 0;
}

div.recurrence-widget .until-count {
  margin: 0em 0em 0em 1.5em;
  padding: 0;
}

div.recurrence-widget .until-count li {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}

div.recurrence-widget .until-count .count {
  padding-left: 1em;
}

div.recurrence-widget .form > :not(:empty) {
  padding: .25em 0 1em 0;
}

div.recurrence-widget .body .recurrence > :first-child,
div.recurrence-widget .body .date > :first-child {
  padding-top: .25em;
}

div.recurrence-widget .body .recurrence > :last-child,
div.recurrence-widget .body .date > :last-child {
  padding-bottom: .25em;
}

div.recurrence-widget .weekday-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1em;
}

div.recurrence-widget .weekday-grid .weekday {
  background: var(--body-bg);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: var(--body-fg);
  cursor: pointer;
  transition: all 0.15s;
  border: 1px solid var(--default-button-bg);
}

div.recurrence-widget .weekday-grid .weekday.active {
  background: var(--default-button-bg);
  color: var(--button-fg);
}

div.recurrence-widget .weekday-grid .weekday:hover {
  background: var(--default-button-hover-bg);
  color: var(--button-fg);
}


div.recurrence-widget .section {
  margin: .5em 1em;
}

div.recurrence-widget .grid {
  border: 0;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

div.recurrence-widget .grid td {
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  padding: .8em;
  cursor: pointer;
  transition: all 0.15s;
}

div.recurrence-widget .grid td.active {
  background-color: var(--button-bg);
  color: var(--button-fg);
}

div.recurrence-widget .grid td.empty {
  border: 0;
}

div.recurrence-widget .grid[data-readonly] td.active {
  background-color: var(--close-button-bg);
}


div.recurrence-widget .monthday .grid {
  margin-left: .5em;
}

div.recurrence-widget .yearly-form table.months {
  margin: .5em 0 1em 0;
}

div.recurrence-widget .yearly td {
  padding: 1em 1.5em;
}

div.recurrence-widget .date-value {
  margin: 1em 0 0 0.5em;
}

/*
div.recurrence-widget form {
    overflow: hidden;
    padding: .5em 2.2em;
    border-top: 1px solid var(--border-color);
}

div.recurrence-widget .form {
    padding: .5em 0;
}

div.recurrence-widget .radio {
    margin-left: 0;
}
div.recurrence-widget .radio:before {
    padding: 0px;
}

div.recurrence-widget .checkbox {
    margin-left: 0;
}
div.recurrence-widget .checkbox:before {
    width: auto;
    height: auto;
}

*/

div.recurrence-widget .hidden {
    display: none;
}

*[data-recurrence-template] {
  display: none !important;
}
